.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--theme);
  color: var(--white);
  padding: 0.7rem 1rem;
}
p {
  margin: 0;
}
.logo,
.logout {
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.link {
  cursor: pointer;
  opacity: 0.8;
}
.link:hover {
  opacity: 1;
}
